### Kaggle Link: https://www.kaggle.com/datasets/rahuldogra/top5000youtubechannels

In [2]:
import pandas as pd 
import numpy as np

In [82]:
df = pd.read_csv('top-5000-youtube-channels.csv')

### 1. Display All Rows Except the Last 5 rows Using Head Method

In [83]:
df.head(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,КАZКА,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment…,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699

### 2. Display All Rows Except the First 5 Rows Using Tail Method

In [84]:
df.tail(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [85]:
df.shape

(5000, 6)

### 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

### 5. Get Overall Statistics About The Dataframe

In [87]:
df.describe(include='all')

        Rank Grade Channel name Video Uploads Subscribers   Video views
count   5000  5000         5000          5000        5000  5.000000e+03
unique  5000     6         4993          2286        4612           NaN
top      1st   B+    Thơ Nguyễn            26         --            NaN
freq       1  2956            2            17         387           NaN
mean     NaN   NaN          NaN           NaN         NaN  1.071449e+09
std      NaN   NaN          NaN           NaN         NaN  2.003844e+09
min      NaN   NaN          NaN           NaN         NaN  7.500000e+01
25%      NaN   NaN          NaN           NaN         NaN  1.862329e+08
50%      NaN   NaN          NaN           NaN         NaN  4.820548e+08
75%      NaN   NaN          NaN           NaN         NaN  1.124368e+09
max      NaN   NaN          NaN           NaN         NaN  4.754884e+10

### 6. Data Cleaning  (Replace '--'  to NaN)

In [88]:
df.isin(['--','-- ']).sum()

Rank               0
Grade              0
Channel name       0
Video Uploads      6
Subscribers      387
Video views        0
dtype: int64

In [89]:
df.replace(['--','-- '],[np.nan,np.nan],inplace=True)

In [90]:
df.isin(['--','-- ']).sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

### 7. Check Null Values In The Dataset

In [91]:
df.isnull().sum()

Rank               0
Grade              0
Channel name       0
Video Uploads      6
Subscribers      387
Video views        0
dtype: int64

In [92]:
df=df.dropna()

In [93]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

### 8. Data Cleaning [ Rank Column ]

In [94]:
df.columns

Index(['Rank', 'Grade', 'Channel name', 'Video Uploads', 'Subscribers',
       'Video views'],
      dtype='object')

In [95]:
def replace_comma(string):
    return int(string.replace(',',''))

In [96]:
df['Rank']=df['Rank'].str[0:-2].apply(replace_comma)

In [97]:
df['Rank'].dtype

dtype('int64')

### 9. Data Cleaning [ Video Uploads & Subscribers ]

In [98]:
df['Video Uploads']=df['Video Uploads'].astype(int)

In [99]:
df['Subscribers'].dtype

dtype('O')

In [100]:
df['Subscribers']=df['Subscribers'].astype(int)

In [101]:
df['Subscribers'].dtype

dtype('int32')

### 10. Data Cleaning [ Grade Column ]

In [104]:
df['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [106]:
df['Grade']=df['Grade'].map({'A++ ':5,'A+ ':4,'A ':3,'A- ':2,'B+ ':1})

In [107]:
df['Grade'].dtype

dtype('int64')

### 11. Find Average Views For Each Channel

In [108]:
df.columns

Index(['Rank', 'Grade', 'Channel name', 'Video Uploads', 'Subscribers',
       'Video views'],
      dtype='object')

In [110]:
df['AvgViews']=df['Video views']/df['Video Uploads']

In [111]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views,AvgViews
0,1,5,Zee TV,82757,18752951,20869786591,2.521815e+05
1,2,5,T-Series,12661,61196302,47548839843,3.755536e+06
2,3,5,Cocomelon - Nursery Rhymes,373,19238251,9793305082,2.625551e+07
3,4,5,SET India,27323,31180559,22675948293,8.299216e+05
4,5,5,WWE,36756,32852346,26273668433,7.148130e+05

### 12. Find Out Top Five Channels With Maximum Number of Video Uploads

In [113]:
index=df['Video Uploads'].sort_values(ascending=False).index

In [116]:
df['Channel name'].loc[index][:5]

3453    AP Archive
1149      YTN NEWS
2223     SBS Drama
323       GMA News
2956           MLB
Name: Channel name, dtype: object

### 13. Find Correlation Matrix

In [117]:
df.corr()

,Rank,Grade,Video Uploads,Subscribers,Video views,AvgViews
Rank,1.000000,-0.865083,-0.073180,-0.383329,-0.402873,-0.153670
Grade,-0.865083,1.000000,0.088773,0.429213,0.477423,0.155231
Video Uploads,-0.073180,0.088773,1.000000,0.011362,0.087830,-0.064408
Subscribers,-0.383329,0.429213,0.011362,1.000000,0.791241,0.289386
Video views,-0.402873,0.477423,0.087830,0.791241,1.000000,0.294422
AvgViews,-0.153670,0.155231,-0.064408,0.289386,0.294422,1.000000

### 14.  Which Grade Has A Maximum Number of Video Uploads?

In [122]:
index=df['Video Uploads'].sort_values(ascending=False)[:1].index

In [123]:
df['Grade'].loc[index] # B+

3453    1
Name: Grade, dtype: int64

In [124]:
df.groupby('Grade')['Video Uploads'].max()

Grade
1    422326
2    355996
3    269065
4    186194
5    100147
Name: Video Uploads, dtype: int32

### 15.Which Grade Has The Highest Average Views?

In [125]:
df.columns

Index(['Rank', 'Grade', 'Channel name', 'Video Uploads', 'Subscribers',
       'Video views', 'AvgViews'],
      dtype='object')

In [127]:
df.groupby('Grade')['Video views'].mean()

Grade
1    5.551838e+08
2    1.102450e+09
3    2.497973e+09
4    6.168742e+09
5    2.119909e+10
Name: Video views, dtype: float64

### 16.  Which Grade Has The Highest Number of Subscribers?

In [128]:
index=df['Subscribers'].sort_values(ascending=False)[:1].index

In [129]:
df['Grade'].loc[index]

1470    2
Name: Grade, dtype: int64

### 17. Which Grade Has The Highest Video Views?

In [130]:
index=df['Video views'].sort_values(ascending=False)[:1].index

In [131]:
df['Grade'].loc[index]

1    5
Name: Grade, dtype: int64